repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
    args: ['--unsafe'] # avoid problems with mkdocs mermaid extension
    stages:
    - pre-commit
  - id: check-toml
    stages:
    - pre-commit
  - id: end-of-file-fixer
    exclude: docs/ethics.md
    stages:
    - pre-commit
  - id: trailing-whitespace
    exclude: docs/ethics.md
    stages:
    - pre-commit
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: '3.0.0'
  hooks:
  - id: forbid-binary
    stages:
    - pre-commit
- repo: local
  hooks:
  - id: uv-lock
    name: uv-lock
    entry: uv lock
    language: python
    files: ^(uv\.lock|pyproject\.toml)$
    pass_filenames: false
    stages:
    - pre-commit
  - id: ruff
    name: ruff
    entry: uv run ruff check
    args: [ --fix ]
    language: system
    types: [file, python]
    stages:
    - pre-commit
  - id: ruff-format
    name: ruff-format
    entry: uv run ruff format
    language: system
    types: [file, python]
    stages:
    - pre-commit
  - id: ty-check
    name: ty-check
    entry: uv run ty check
    language: system
    types: [file, python]
    stages:
    - pre-commit
  - id: interrogate
    name: interrogate
    entry: uv run interrogate
    language: system
    types: [file, python]
    stages:
    - pre-commit
  - id: pydoclint
    name: pydoclint
    entry: uv run pydoclint
    language: system
    types: [file, python]
    stages:
    - pre-commit
{%- if use_dvc %}
  - id: dvc-pre-commit
    name: DVC pre-commit
    entry: uv run dvc git-hook pre-commit
    language: system
    require_serial: true
    verbose: true
    stages:
    - pre-commit
  - id: dvc-pre-push
    name: DVC pre-push
    entry: uv run dvc git-hook pre-push
    language: system
    require_serial: true
    stages:
    - pre-push
  - id: dvc-post-checkout
    name: DVC post-checkout
    entry: uv run dvc git-hook post-checkout
    language: system
    require_serial: true
    stages:
    - post-checkout
    always_run: true
{%- endif %}
