site_name: {{project_name}}
{%- if repo_url != '' %}
repo_url: {{repo_url}}
{%- endif %}

theme:
  name: "material"
  palette:
    scheme: slate
    primary: black
{%- if ci != '' %}
  icon:
    repo: fontawesome/brands/{{ ci }}
{%- endif %}
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate

nav:
  - index.md
  - context.md
{%- if ethics_checklist %}
  - Data Science Ethics Checklist: ethics.md
{%- endif %}
  - Analyses: notebooks/
  - model.md
  - Source Code
  - structure.md

plugins:
  - search
  - literate-nav
  - mkdocstrings:
      handlers:
          python:
            options:
              docstring_style: google
              members_order: 'source'
              show_if_no_docstring: true
  - api-autonav:
      modules: ['src']
      nav_section_title: "Source Code"
      api_root_uri: "code"
      nav_item_prefix: ""
  - mkdocs-jupyter:
          include_requirejs: true  # plotly support
          include: ["notebooks/*.ipynb"]

watch:
  - src # update on changes to code

markdown_extensions:
  - footnotes
  # admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # highlighz, strikethrough and underline
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  # fancy lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables # data tables
  # support for flowcharts via mermaid
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # support for formulas
  - pymdownx.arithmatex:
      generic: true
# support for formulas
extra_javascript:
  - helper/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Excidion/reproML
      name: Structure generated by reproML
