# {{project_name}}
![python](https://img.shields.io/badge/Python-{{ python_version }}-blue)
[![reproML](https://img.shields.io/badge/Based_on-reproML-brightgreen)](https://github.com/Excidion/reproML)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-black.json)](https://github.com/copier-org/copier)
[![uv](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/uv/main/assets/badge/v0.json)](https://github.com/astral-sh/uv)
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![ty](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ty/main/assets/badge/v0.json)](https://github.com/astral-sh/ty)
[![mkdocs-material](https://img.shields.io/badge/Material_for_MkDocs-526CFE?logo=MaterialForMkDocs&logoColor=white)](https://squidfunk.github.io/mkdocs-material/)
{%- if ethics_checklist %}
[![Deon badge](https://img.shields.io/badge/ethics%20checklist-deon-brightgreen.svg?style=popout-square)](http://deon.drivendata.org/)
{%- endif %}

{{project_description}}

For details take look at the [documentation](#look-at-the-documentation)

{{ text_project_setup }}

## Look at the Documentation
For more detailed information about the project checkout the documentation.
Use the following command to run the documentation webserver.
```
uv run mkdocs serve
```
The server will automatically reload on any change to the markdown files in the `docs` directory.
