# {{project_name}}
{{ md_badges -}}

{{project_description}}

For details take look at the [documentation](#look-at-the-documentation)

{{ text_project_setup -}}

## Look at the Documentation
For more detailed information about the project checkout the documentation.
Use the following command to run the documentation webserver.
```
uv run mkdocs serve
```
The server will automatically reload on any change to the markdown files in the `docs` directory.
