image: python:{{python_version}}

before_script:
  - pip install uv
  - uv sync --group dev --all-extras

pages:
  stage: deploy
  script:
  - uv run pre-commit run --all-files
  - uv run mkdocs build --verbose --site-dir public
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == {{default_branch}}
