[defaults]
project_name = "project"
project_description = "Not much."
author = "Excidion"
author_email = "none@none.org"
ci = "none"
repo_url = "https://github.com"

[output.".ctt/test"]
license = "$MATRIX_license"
python_version = "$MATRIX_python_version"
use_dvc = $MATRIX_use_dvc
remote_type = "$MATRIX_remote_type"
