# {{project_name}}
{{ md_badges | trim }}

{{ project_description | trim }}

For more details, see [context](context.md#context).
For technical details, see [structure](structure.md#directory-structure).

{{ md_project_setup | trim }}
