site_name: {{project_name}}
{% if repo_url != '' %}repo_url: {{repo_url}}{% endif %}

theme:
  name: "material"
  palette:
    scheme: slate
    primary: teal

plugins:
  - search
  - mkdocstrings

markdown_extensions:
  # admonitions
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # highlighz, strikethrough and underline
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  # fancy lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables # data tables
  # support for flowcharts via mermaid
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # support for formulas
  - pymdownx.arithmatex:
      generic: true
# support for formulas
extra_javascript:
  - helper/javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
