[project]
name = "src"
version = "0.1.0"
description = "{{ project_description }}"
authors = ["{{ author }} <{{ author_email }}>"]
readme = "README.md"
license = "{{ license }}"
requires-python = ">={{ python_version }}"
dependencies = [
{%- if use_dvc %}
    "dvc[{{ remote_type }}]>=3.55.2",
{%- endif %}
    "python-dotenv>=1.0.1",
]

[tool.uv]
dev-dependencies = [
    "interrogate>=1.7.0",
    "ipykernel>=6.29.5",
{%- if license != 'NO_LICENSE' %}
    "licensecheck>=2024.3",
{%- endif %}
    "mkdocs-gen-files>=0.5.0",
    "mkdocs-jupyter>=0.25.0",
    "mkdocs-literate-nav>=0.6.1",
    "mkdocs-material>=9.5.35",
    "mkdocs-section-index>=0.3.9",
    "mkdocstrings[python]>=0.26.1",
    "pre-commit>=4.0.1",
    "ruff>=0.6.6",
]

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-module = true
fail-under = 100
verbose = 1
generate-badge = "docs/helper"
badge-format = "svg"

[tool.licensecheck]
using = "PEP631"
format = "markdown"
file = "docs/licenses.md"
