[tool.poetry]
name = "src"
version = "0.1.0"
description = "{{ project_description }}"
authors = ["{{ author }} <{{ author_email }}>"]
readme = "README.md"
license = "{{ license }}"

[tool.poetry.dependencies]
python = "^3.8"
python-dotenv = "^0.21.0"
{%- if use_dvc %}
dvc = {version = "^2.45.1", extras = ["{{ remote_type }}"]}
{%- endif %}

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
isort = "^5.10.1"
pre-commit = "^2.20.0"
ipykernel = "^6.17.0"

[tool.poetry.group.docs.dependencies]
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs-gen-files = "^0.4.0"
mkdocs-literate-nav = "^0.6.0"
mkdocs-section-index = "^0.3.5"
mkdocs-material = "^8.5.8"
interrogate = "^1.5.0"
licensecheck = "^2023.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-module = true
fail-under = 80
verbose = 1
generate-badge = "docs/helper"
badge-format = "svg"

[tool.flake8]
max-line-length = 88
extend-ignore = "E203"

[tool.licensecheck]
using = "poetry:dev;docs"
format = "markdown"
file = "docs/licenses.md"
