# {{project_name}}
![python](https://img.shields.io/badge/Python-{{ python_version }}-blue)
[![reproML](https://img.shields.io/badge/Based_on-reproML-brightgreen)](https://github.com/Excidion/reproML)
[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)
[![uv](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/uv/main/assets/badge/v0.json)](https://github.com/astral-sh/uv)
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v2.json)](https://github.com/astral-sh/ruff)
[![mkdocs-material](https://img.shields.io/badge/Material_for_MkDocs-526CFE?logo=MaterialForMkDocs&logoColor=white)](https://squidfunk.github.io/mkdocs-material/)

{{project_description}}

For details take look at the [documentation](#look-at-the-documentation)

## Setup
### Prerequesites
What you need installed on your system:
+ [Python](https://www.python.org/downloads/) added to PATH
+ [git](https://git-scm.com/downloads)

Make sure `uv` is installed on your system.
```
pip install uv
```

### Installation
Navigate to the project directory and install all dependencies.
This command will also create a virtual environment for the project.
```
uv sync --all-extras
```
Make sure that pre-commits are enabled.
```
uv run pre-commit install --hook-type pre-push --hook-type post-checkout --hook-type pre-commit
```
And make sure that you have all the necessary data available.
```
uv run dvc pull
```
Now you can start coding.

## Look at the Documentation
For more detailed information about the project checkout the documentation.
Use the following command to run the documentation webserver.
```
uv run mkdocs serve
```
The server will automatically reload on any change to the markdown files in the `docs` directory.
