image: python:3.8-buster

before_script:
  - pip install poetry
  - poetry install --only docs
  - poetry run interrogate
  - poetry run licensecheck

test:
  stage: test
  script:
  - poetry run mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
    - test
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH

pages:
  stage: deploy
  script:
  - poetry run mkdocs build --strict --verbose --site-dir public
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
