name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - {{default_branch}}

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout {{default_branch}}
        uses: actions/checkout@v2

      - name: Setup environment
        run: pip install poetry && poetry install --only docs

      - name: Generate badges
        run: poetry run interrogate

      - name: Deploy docs
        run: poetry run mkdocs gh-deploy --force
